/* Variables */

:root {
    --primary-color: #81B3D2;
    --primary-hover: #669EC0;
    --primary-active: #5496BD;
    --accent-color: #766357;
    --accent-hover: #604E43;
    --accent-active: #503E33;
    --basic-white: #ffffff;
    --basic-black: #000000;
    --text-color: #333333;
    --active-text: rgba(255, 255, 255, 0.3);
}

/* Global */

body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--text-color);
    text-transform: uppercase;
    background-color: #F2F2F2;;
}

.page a {
    text-decoration: none;
}

p, h1, h2, h3 {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

/* Button style */

.primary {
    background-color: var(--accent-color);
    color: var(--basic-white);
}

.primary:hover, .primary:focus {
    background-color: var(--accent-hover)
}

.primary:active {
    background-color: var(--accent-active);
    color: var(--active-text);
}

.secondary {
    background-color: var(--primary-color);
    color: var(--basic-white);
}

.secondary:hover, .secondary:focus {
    background-color: var(--primary-hover);
}

.secondary:active {
    background-color: var(--primary-active);
    opacity: var(--active-text);
}

.active {
    color: var(--accent-color);
}

/* Hide elements class*/

.vissually-hiden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(0 0 0 0);
    overflow: hidden;
}

/* Grid */
.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

/* Main navigation */

.main-navigation {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-black);
    background-color: var(--basic-white);
}

.main-header-logo img{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-navigation li:first-child + li {
    margin-left: -12px;
}

.site-navigation li:nth-child(3) {
    margin-left: auto;
}

.site-navigation__link {
    color: var(--basic-black);
    display: block;
    margin: 14px 73px 16px;
}

.site-navigation__link:hover, 
.site-navigation__link:focus {
    color: var(--primary-color);
}

.site-navigation__link:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.site-navigation__link-current {
    color: var(--accent-color);
}

/* Main */

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 0px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.welcome {
    background: url(../img/background-photo.jpg) no-repeat;
    height: 509px;
}

.welcome::after {
    content: url(../img/background-shape.svg);
    position: relative;
    top: 18px;
}

.welcome__title {
    padding-top: 77px;
    text-align: center;
}

.advantages {
    background-color: var(--basic-white);
    padding-top: 43px;
}

.advantage-item_1,
.advantage-item_2 {
    display: flex;
}

.advantage-item_2 h3{
    padding-top: 50px;
}
.advantage-item__text {
    background-color: var(--primary-color);
    text-align: center;
}

.infrastructure-list, 
.advantage-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-gap: 10px; */
    margin: 0;
    list-style: none; 
}

.infrastructure-list {
    padding: 60px 0 82px;
}

.advantage-list {
    background-color: #eeeeee;
    padding: 0px 0 54px;
}

.advantages-title {
    margin-bottom: 42px;
    line-height: 26px;
}

.advantages-title, 
.infrastructure-item__title {
    font-size: 21px;
    font-weight: 700;
    color: var(--basic-black);
}

.advantages-desc {
    line-height: 26px;
    margin-bottom: 51px;
}

.advantage-title {
    font-size: 21px;
    font-weight: 700;
    color: var(--basic-black);
    padding: 47px 120px 25px;
}

.infrastructure-item__title_motel::before {
    height: 77px;
    content: url(../img/motel.svg);
    display: block;
    padding-bottom: 23px;
}

.infrastructure-item__title_food::before {
    height: 77px;
    content: url(../img/food.svg);
    display: block;
    padding-bottom: 23px;
}

.infrastructure-item__title_gift::before {
    height: 77px;
    content: url(../img/gift.svg);
    display: block;
    padding-bottom: 23px;
}

.advantage-desc {
    padding: 23px 45px 0;
}

.advantage-title_white, 
.advantage-num_white, 
.advantage-desc_white {
    color: var(--basic-white);
    background-color: var(--primary-color);
}

.advantage-title_white {
    padding-bottom: 27px;
}

.infrastructure-list li{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 55px;
}

.infrastructure-item__title {
    padding-bottom: 26px;
}

.advantage-list__item .advantage-desc {
    padding: 25px 65px 0;
}

/* Registration */

.registration {
    background-color: var(--basic-white);
}

.registration-headline {
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
    color: var(--basic-black);
    padding: 55px 0 32px;
}
.registration-info {
    line-height: 26px;
}
.registration-button {
    display: inline-block;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    padding: 30px 140px;
    margin: 42px 0 0;
    cursor: pointer;
}

.registration-form {
    position: absolute;
    left: 0;
    right: 0;
    font-weight: 700;
    line-height: 26px;
    margin: 0 auto;
    max-width: 458px;
    display: flex;
    flex-wrap: wrap;
    background: #FFFFFF;
    box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
    padding: 55px;
}

.registration-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 458px;
    margin-bottom: 30px;
    cursor: pointer;
}

input::placeholder {
    color: #000;
    padding-left: 3px;
}

input[type='text'] {
    outline: none;
    font-weight: 700;
    line-height: 26px;
    font-size: 14px;
    background-color: #F2F2F2;
    border: none;
    width: 333px;
    padding: 3px 0px 4px 8px;
    margin-left: 20px;
    border: 2px solid transparent;
}

input[type='text']:hover {
    background-color: #EBEBEB;
}

input[type='text']:focus {
    background-color: transparent;
    border: 2px solid #E5E5E5;
}

input::-webkit-calendar-picker-indicator {
  display: none;
  -moz-appearance: textfield;
}

.calendar-icon {
    position: absolute;
    right: 65px;
}

.registration-item:hover path,
.registration-item:focus path {
    fill: var(--basic-black);
}

.registration-item:active path {
    fill: var(--primary-color);
}

.guest-num {
    display: flex;
}

.guest-num p {
    justify-content: stretch;
    width: 226px;
}

.adults {
    margin-right: 40px;
}
.children {
    margin-right: 26px;
    margin-left: 53px;
}

input[type='number'] {
    text-align: center;
    outline: none;
    font-weight: 700;
    line-height: 26px;
    background-color: #F2F2F2;
    border: none;
    width: 114px;
    padding: 6px 0px 6px 0px;
}

.registration-item svg {
    position: absolute;
}

.adults-minus {
    left: 180px;
}

.adults-plus {
    left: 256px;
}

.children-minus {
    right: 143px;
}

.children-plus {
    right: 68px;
}

/* Remove arrow */
input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

.registration-form_find {
    outline: none;
    font-weight: 700;
    font-size: 21px;
    text-transform: uppercase;
    margin-top: 25px;
    border: none;
    padding: 17px 196px;    
}

/* Footer */

.main-footer {
    background: rgba(255, 255, 255, 0.9);   
    width: 1200px;
    margin: 0 auto;
    margin-top: -125px;
    display: grid;
    grid-template-columns: 1fr 150px 1fr;
    column-gap: 50px;
    justify-items: center;
}
 
.footer-contacts,
.footer-social,
.footer-copyright {
    align-self: center;
}

.footer-contacts {
    margin-top: -20px;
}

.footer-contacts p {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-black);
    text-align: center;
}

.footer-phone {
    color: inherit;
    padding-top: 9px;
}

/* Social button */

.footer-social ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.social-link_twitter {
    content: url(../img/twitter.svg);
    padding: 16px 14px;
    margin-right: 6px;
}

.social-link_fb {
    content: url(../img/fb-icon.svg);
    padding: 13px 17px;
    margin-right: 6px;
}

.social-link_yt {
    content: url(../img/youtube.svg);
    padding: 16px 13px;
}

/* Copyright */

.copyright-text {
    line-height: 26px;
    display: flex;
    align-items: center;
}
.copyright-link {
    margin-left: 8px;
}

/* Hotels page */

.results {
    display: grid;
    grid-template-rows:min-content 1fr;
}
.results-sort-info {
    display: grid;
    grid-template-columns: 140px min-content 1fr 40px;
    column-gap: 35px;
    margin: 0 73px 0 61px;
    padding: 23px 0;
}

.results-sort-info ul {
    text-align: left;
    display: grid;
    grid-template-columns: max-content max-content max-content;
    column-gap: 32px;
}

.results__caption {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
}

.results__sorting-headline {
    font-size: 12px;
    line-height: 18px;
}

.results ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.result-item {
    display: grid;
    grid-template-columns: 135px 1fr max-content;
    column-gap: 30px;
    margin: 0 73px 0 73px;
    padding: 30px 0;
}

.result-item-wrap {
    text-align: left;
}

.evaluation-list {
    display: grid;
    grid-template-columns: repeat(4, min-content);
}

.results__sorting-item {
    font-size: 12px;
    line-height: 18px;
    opacity: 0.3;
    border-bottom: 1px dashed var(--primary-color);
    cursor: pointer;
}

.results__sorting-item:hover, .results__sorting-item:focus {
    color: var(--primary-color);
}

.results__sorting-item:active {
    color: var(--basic-black);
    opacity: 1;
    border-bottom: none;
}

.results-active {
    color: var(--primary-color);
    opacity: 1;
    border-bottom: none;
}

.results-list {
    list-style: none;
}

.result-item__name {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
}

.result-item__name:hover, .result-item__name:focus {
    color: var(--primary-color);
    cursor: pointer;
}

.result-item__name:active {
    opacity: 0.3;
}
.evaluation-list {
    list-style: none;
}

.evaluation-item{
    background: url(../img/rating-star.svg) no-repeat;
    width: 18px;
    height: 17px;
}

.result-item__rating {
    color: #666666;
    background-color: #F2F2F2;
    display: inline;
}

.page-footer {
    background: rgba(255, 255, 255, 0.9);   
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr 150px 1fr;
    column-gap: 50px;
    justify-items: center;    
}