/* Variables */

:root {
    --primary-color: #81B3D2;
    --primary-hover: #669EC0;
    --primary-active: #5496BD;
    --accent-color: #766357;
    --accent-hover: #604E43;
    --accent-active: #503E33;
    --basic-white: #ffffff;
    --basic-black: #000000;
    --text-color: #333333;
    --active-text: rgba(255, 255, 255, 0.3);
}

/* Global */

body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--text-color);
    text-transform: uppercase;
    background-color: var(--basic-white);
}

.page a {
    text-decoration: none;
}

p, h1, h2, h3 {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

/* Button style */

.primary {
    background-color: var(--accent-color);
    color: var(--basic-white);
}

.primary:hover, .primary:focus {
    background-color: var(--accent-hover)
}

.primary:active {
    background-color: var(--accent-active);
    color: var(--active-text);
}

.secondary {
    background-color: var(--primary-color);
    color: var(--basic-white);
}

.secondary:hover, .secondary:focus {
    background-color: var(--primary-hover);
}

.secondary:active {
    background-color: var(--primary-active);
    opacity: var(--active-text);
}

.active {
    color: var(--accent-color);
}

/* Hide elements class*/

.visible-hiden {
    display: none;
}

/* Grid */
.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
  }

/* Main navigation */

.main-navigation {
    display: grid;
    grid-template-rows: 1fr;
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-black);
    background-color: var(--basic-white);
}
.main-header-logo{
    justify-self: center;
}

.site-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-navigation__link {
    color: var(--basic-black);
}

.site-navigation__link:hover, .site-navigation__link:focus {
    color: var(--primary-color);
}

.site-navigation__link:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.site-navigation__link-current {
    color: var(--accent-color);
}

/* Main */

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
}

.welcome {
    background: url(../img/background-photo.jpg) no-repeat;
    height: 509px;
}

.welcome__title {
    padding-top: 77px;
    text-align: center;
}

.advantage-item_1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.advantage-item_2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.advantage-item__text {
    background-color: var(--primary-color);
    text-align: center;
}

.advantages-title {
    margin: 43px 0 17px;
}

.advantages-title, 
.infrastructure-item__title {
    font-size: 21px;
    font-weight: 700;
    color: var(--basic-black);
}

.advantages-desc {
    line-height: 26px;
    margin-bottom: 51px;
}

.advantage-title {
    font-size: 21px;
    font-weight: 700;
    color: var(--basic-black);
}

.infrastructure-item__title_motel::before {
    content: url(../img/motel.svg);
    display: block;
    padding-bottom: 28px;
}

.infrastructure-item__title_food::before {
    content: url(../img/food.svg);
    display: block;
    padding-bottom: 28px;
}

.infrastructure-item__title_gift::before {
    content: url(../img/gift.svg);
    display: block;
    padding-bottom: 28px;
}

.advantage-title {
    padding: 47px 0px 25px;
}

.advantage-desc {
    padding: 23px 45px 0;
}

.advantage-title_white, 
.advantage-num_white, 
.advantage-desc_white {
    color: var(--basic-white);
    background-color: var(--primary-color);
}

.infrastructure-list, 
.advantage-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

.infrastructure-list {
    padding: 60px 0 82px;
}

.infrastructure-item__title {
    padding-bottom: 25px;
}

.advantage-list {
    background-color: #eeeeee;
    padding: 0px 0 54px;
}

/* Registration */

.registration-headline {
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
    color: var(--basic-black);
    padding: 58px 0 35px;
}

.registration-button {
    display: inline-block;
    padding: 30px 140px;
    margin: 50px 0 0;
    cursor: pointer;
}
/* Footer */

.main-footer {
    background: rgba(255, 255, 255, 0.9);   
    padding: 23px 0 36px;
}

.main-footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-contacts p {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-black);
}

.footer-phone {
    color: inherit;
}

/* Social button */

.footer-social ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-link_twitter {
    content: url(../img/twitter.svg);
    padding: 16px 14px;
}

.social-link_fb {
    content: url(../img/fb-icon.svg);
    padding: 13px 17px;
}

.social-link_yt {
    content: url(../img/youtube.svg);
    padding: 16px 13px;
}

/* Copyright */

.copyright-text {
    line-height: 26px;
}

/* Hotels page */

.results__caption {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
}

.results__sorting-headline {
    font-size: 12px;
    line-height: 18px;
}

.results ul {
    list-style: none;
}

.results__sorting-item {
    font-size: 12px;
    line-height: 18px;
    opacity: 0.3;
    border-bottom: 1px dashed var(--primary-color);
    cursor: pointer;
}

.results__sorting-item:hover, .results__sorting-item:focus {
    color: var(--primary-color);
}

.results__sorting-item:active {
    color: var(--basic-black);
    opacity: 1;
    border-bottom: none;
}

.results-active {
    color: var(--primary-color);
    opacity: 1;
    border-bottom: none;
}

.results-list {
    list-style: none;
}

.result-item__name {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
}

.result-item__name:hover, .result-item__name:focus {
    color: var(--primary-color);
    cursor: pointer;
}

.result-item__name:active {
    opacity: 0.3;
}
.evaluation-list {
    list-style: none;
}

.evaluation-item{
    background: url(../img/rating-star.svg) no-repeat;
    width: 18px;
    height: 17px;
}

.result-item__rating {
    color: #666666;
    background-color: #F2F2F2;
    display: inline;
}

.advantage-item_1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
}